/* .jumbotron {
    margin: 0;
    padding: 30px; 
    background-image: url("/img/bees_lavender.jpg");
    background-size: cover;
} */
body,
html {
  height: 100%;
  background-color: #FFEFD5;
  font-family: "Source Sans Pro", sans-serif; }

#indexHero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/bees_lavender.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50%; }

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFEFD5;
  font-family: "Acme", sans-serif;
  text-shadow: 1px 1px black; }

#membershipHero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/beehive.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50%; }

#spacesHero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/img/honeycomb.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50%; }

#bookTourButton {
  background-color: #2C0735;
  color: #FAF3DD; }

#topNavbar {
  background-color: #FFEFD5;
  font-family: "Encode Sans Condensed", sans-serif; }

#bottomNavbar {
  background-color: #2C0735;
  font-family: "Encode Sans Condensed", sans-serif; }

.site-footer {
  background-color: #FFCDB2; }

div .media {
  font-family: "Amatic SC", cursive; }

#bookTourModal .modal-header {
  background-color: #FFCDB2;
  color: #2C0735;
  font-family: "Acme", sans-serif; }

#bookTourModal .modal-body {
  color: #2C0735;
  font-family: "Roboto", sans-serif; }

#bookTourModal #confirmBookTour {
  background-color: #FFB4A2; }

h3 {
  font-family: "Acme", sans-serif;
  color: #2C0735; }

.card-header {
  background-color: #2C0735;
  color: #FFEFD5; }

.card-body {
  background-color: #f0dff6; }

#membershipTable {
  background-color: #FCD5CE; }
